<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="usuario.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center">Cadastrar</h2>
                <form id="add-user-form">
                    <div class="form-group">
                        <label for="nomeUsuario">Usuário:</label>
                        <input type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" required>
                    </div>
                    <div class="form-group">
                        <label for="senhaUsuario">Senha:</label>
                        <input type="password" class="form-control" id="senhaUsuario" name="senhaUsuario" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                    <button type="button" class="btn btn-secondary btn-block" onclick="location.href='/login'">Voltar ao Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
