<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
    <link href="menu.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Painel de Controle</h2>
        
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Lista de Professores</h5>
                        <p class="card-text">Visualize a lista de professores cadastrados.</p>
                        <a href="/listaProfessores" class="btn btn-primary">Ir para Lista de Professores</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Lista de Alunos</h5>
                        <p class="card-text">Visualize a lista de alunos cadastrados.</p>
                        <a href="/listaAlunos" class="btn btn-primary">Ir para Lista de Alunos</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Cadastrar Professor</h5>
                        <p class="card-text">Cadastre um novo professor.</p>
                        <a href="/cadastroProfessor" class="btn btn-success">Cadastrar Professor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Cadastrar Aluno</h5>
                        <p class="card-text">Cadastre um novo aluno.</p>
                        <a href="/cadastroAluno" class="btn btn-success">Cadastrar Aluno</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
